@import '../../sass/variables';
@import '../../sass/mixins';

:local(.address) {
  & > div {
    // font-size: 16px;
    // line-height: 22px;
    @include caption1V2;
  }

  &__title {
    // font-size: 16px;
    // line-height: 30px;
    // font-weight: 600;
    @include caption1V2;

    margin-bottom: 6px;
  }

  &__edit {
    padding-top: 20px;
    pointer-events: none;
    span {
      cursor: pointer !important;
      text-decoration: underline;
      pointer-events: auto;
    }
  }
}
