// Fonts
$font-family-sans-serif: 'SanomatSans';
$font-family-aime: 'Aime';

// Colors
$color-maroon-velvet-500: #3c101e;
$color-maroon-velvet-300: #7c5f68;
$color-maroon-velvet-400: #63404b;
$color-neutral-warm-linen-500: #f6f3e7;
$color-neutral-warm-linen-200: #fbf9f4;
$color-neutral-warm-linen-200-80: rgba(251, 249, 244, 0.8);
$color-neutral-mono-300: #bebebe;
$color-neutral-mono-500: #9e9e9e;
$color-neutral-mono-700: #616161;
$color-burnt-orange-500: #d25c1b;
$color-burnt-orange-600: #bf5419;
$color-burnt-orange-800: #74330f;
$color-leaf-green-500: #414128;
$color-rose-wood-500: #65000b;
$color-mono-300: #bebebe;
