@import 'fonts';
@import 'variables';
@import 'mixins';
// @import '~bootstrap/scss/normalize';
// @import '~bootstrap/scss/reboot';
@import 'grid';
@import 'buttons';
@import 'forms';
@import 'table';
@import 'input-group';
@import 'slick';
@import 'day-picker';

body {
  touch-action: manipulation; //remove 300ms delay for IE10+
}

html,
body {
  font-family: $font-base;
  color: $color-dark-neutral;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // min-width: 320px;
  // @include mobile {
  // }
  // @include desktop {
  //   min-width: 992px;
  // }
}

a {
  @include link-style();
}

// a:focus {
//   outline: none !important;
// }

button {
  &:hover,
  &:active,
  &:focus {
    // outline: none !important;
  }
}

img {
  width: 100%;
}

// global tool classes
.mobile-padding {
  @include mobile-only {
    padding-left: $mobile-padding;
    padding-right: $mobile-padding;
  }
}

.zipmoney-overlay img {
  width: auto;
}

/*----------  For Stack Layout  ----------*/

/*
html {
  height: 100%;
}
*/

/*
html,
body,
#root {
  height: 100% !important;
}
*/

// 3rd-party widget
#fc_frame {
  z-index: 2147483648 !important;
}

.fc-widget-open {
  position: relative !important;
  height: 100%;
  margin: 0;
  overflow: hidden !important;
}

// RAKUTEN CMP
.popupThin_content--Qp-la {
  padding: 10px 20px;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

@media only screen and (max-device-width: 480px) {
  div.popupThin_content--Qp-la {
    padding: 10px 0;
    width: 100%;
    height: auto;
    hyphens: auto;
    .introThin_intro--2_ETm {
      padding: 0 10px;
      .introThin_options--2hf6J {
        align-items: center;
        .introThin_acceptAll--1Ilre {
          margin-right: 0 !important;
        }
      }
    }
  }
}

.footerV2_footerV2--13OCL {
  display: none;
}

// hide RAKUTEN CMP
.app_gdpr--2k2uB {
  display: none;
}

// for affirm
.affirm-modal-trigger:hover {
  &:not(a) {
    text-decoration: none !important;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
