# ======================== Base Configuration ========================
DEV_HOST=http://localhost
APPLICATION_ENV=ca-test
BASE_ROUTE=/ca
CURRENCY=CAD
COUNTRY=CA
LANGUAGE=en-CA
APIHOST=https://apigw-ca-test.castlery.com
ONE_PIECE_WEB_SERVER_NAME=http://localhost
TIME_ZONE=America/Toronto
ASSET_HOST=//static-ca-test.castlery.com/assets
CRUSADER_US_API_HOST=api-test.castlery.co

# CSR 
REQUEST_TIME_THRESHOLD=3000
HEALTH_REQUEST_TIME_THRESHOLD=100
CHECK_SYSTEM_METRICS=true

# ========================== Thrid Party Configuration ===============================
# Apple
APPLE_CLIENT_ID=com.castlery.webSignInTest

# FreshChat
FRESHCHAT_ENABLED=true
FRESHCHAT_ID=aa0b232b-5976-4ee0-a874-c7db023b8f07

# Recaptcha
RECAPTCHA_KEY=6Lf32GkUAAAAACxNGz6VDI6ysKByo8jDiaDTcV-i # ---------- todo: 需要确认是否需要修改

# Google
GTM_ID=GTM-PLLSJLT
GOOGLE_ADS_CONVERSION_ID=
GOOGLE_ADS_CONVERSION_LABEL=
GOOGLE_MAP_API_KEY=AIzaSyAKmcMW98vJa4RtQ06RNEBjvCR66IpFSGE
GOOGLE_CLIENT_ID=920807801789-3t33r5j3jmff545t4bmnvmg2gi345apq.apps.googleusercontent.com
GOOGLE_MERCHANT_ID=135978479
GOOGLE_REVIEW_ENABLED=true

# Sentry
SENTRY_ORG=castlery
SENTRY_PROJECT=onepiece
SENTRY_DSN=https://5f204a0b012b43c5a1669b7812df7d42@sentry.io/146432
SENTRY_AUTH_TOKEN=e7619cd63df2463cb8fe29463bc65c4b1b1ceaa9c87943e8bac80d616b49d78e
# SENTRY_TOKEN=e7619cd63df2463cb8fe29463bc65c4b1b1ceaa9c87943e8bac80d616b49d78e

# Datadog
DATADOG_APPLICATION_ID=1cf59f56-0eea-41c3-86d2-5a476e9c77fd
DATADOG_CLIENT_TOKEN=pub9eb9f0e5f2cb5f526229959ec16d3494

# Storyblok @remark: CMS CA使用US-space
STORYBLOK_ACCESS_TOKEN=CdPkaLkSglxWM6yKzg6d3Att
STORY_BLOKS_REFRESH_INTERVAL=60

# Dynamic Yield 
DY_ENABLED=true
DY_SECTION_ID=8791366
SERVER_DY_API_KEY=2fe803e9d552eadaf51cfd861fff98da10da7e9370a9cf9d65b1503b0c4f2d49
CLIENT_DY_API_KEY=d41a19a0f3f68ad637a655aa384b89e9a8772f5e99a036ebf93fb35bbe2e2e0e

# Yotpo 
YOTPO_ENABLED=true
YOTPO_GUID=7bB9BUx9WhuwVliYjz_uFw
YOTPO_API_KEY=NB3HtXMERGIzfGwvyDTQhgtt
# 建议模版ID使用动态配置文件中的值，避免在代码中硬编码 
YOTPO_REWARDS_ID=969580   
YOTPO_REFERRAL_ID=981444
YOTPO_REFERRAL_POPUP_ID=480399
FRIENDBUY_ENABLED=false
FRIENDBUY_MERCHANT_ID= # 代码中已弃用，确认是否需要删除

# Facebook
FACEBOOK_CLIENT_ID=452677454839601
# facebook_pixel_id  # ---------------- todo： 在代码中未使用，确认是否需要删除 ------------------

# Klaviyo 
KLAVIYO_PUBLIC_KEY=VtCEvX

# Gladly ---------------- todo : Gladly CA space will be created soon ------------------
GLADLY_ENABLED=true
GLADLY_APPID=castlery.com-ca
GLADLY_CDN=https://cdn.gladly.qa
GLADLY_HC_API=https://castlery.ca-uat.gladly.qa
GLADLY_HC_ORGID=fNGGNW9yRhiTJ0h2fDcwLA
GLADLY_HC_BRANDID=MgrBrsf0S7qkvKHxbN5TLw

# Podcast Pixel
PODCAST_PIXEL_ID=

# CAPI
CAPI_PIXEL_ID=362608841505535

# PIXLEE
PIXLEE_API_KEY=gIPSbo6fXCThh8oaruf2

# Pinterest
PINTEREST_ENABLED=true

# Paperform
PAPERFORM_ID=v3yf1ija
# PAPERFORM_ID=ws6iz4rb


# Graduate program
OPEN_GRADUATE_APPLICATION=false
GRADUATE_PROGRAM_GREENHOUSE=https://boards.greenhouse.io/embed/job_board/js?for=castlery

# Mulberry
MULBERRY_PUBLIC_TOKEN=EdNRnc-fh7aVVzqg7B2TY7T__uQ
MULBERRY_SDK=https://app-staging.getmulberry.com/plugin/static/js/mulberry.js

# CookieYes
COOKIEYES_ENABLED=true
COOKIYES_CDN=https://cdn-cookieyes.com/client_data/9cb8f988170124cb5f99342b/script.js

# Affirm 
AFFIRM_ENABLED=false
AFFIRM_PUBLIC_KEY=
AFFIRM_SCRIPT=

# Instalment 
INSTALMENT_ENABLED=false
INSTALMENT_ENCRYPT=
INSTALMENT_URL=

# Paypal
PAYPAL_ENABLED=false
PAYPAL_CLIENT_ID=

# ZipPay
ZIP_ENABLED=false
ZIP_PUBLIC_KEY=

# Stripe
STRIPE_ENABLED=true

# GrabPay
GRABPAY_ENABLED=false

# Ads related tracking
CRITEO_ID=

FULLSTORY_ENABLED=false
