

# ======================== Base Configuration ========================
DEV_HOST=http://localhost
APPLICATION_ENV=uk-test
BASE_ROUTE=/uk
CURRENCY=GBP
COUNTRY=UK
LANGUAGE=en-UK
APIHOST=https://apigw-uk-test.castlery.com
ONE_PIECE_WEB_SERVER_NAME=http://localhost
TIME_ZONE=UTC
ASSET_HOST=//static-uk-test.castlery.com/assets
CRUSADER_US_API_HOST=api-test.castlery.co

# CSR 
REQUEST_TIME_THRESHOLD=3000
HEALTH_REQUEST_TIME_THRESHOLD=100
CHECK_SYSTEM_METRICS=true

# ========================== Thrid Party Configuration ===============================
# Apple
APPLE_CLIENT_ID=com.castlery.webSignInTest

# FreshChat
FRESHCHAT_ENABLED=true
FRESHCHAT_ID=aa0b232b-5976-4ee0-a874-c7db023b8f07

# Recaptcha
RECAPTCHA_KEY=6Lf32GkUAAAAACxNGz6VDI6ysKByo8jDiaDTcV-i # ---------- todo: 需要确认是否需要修改

# Google
GTM_ID=GTM-PLLSJLT
GOOGLE_ADS_CONVERSION_ID=
GOOGLE_ADS_CONVERSION_LABEL=
GOOGLE_MAP_API_KEY=AIzaSyAKmcMW98vJa4RtQ06RNEBjvCR66IpFSGE
GOOGLE_CLIENT_ID=920807801789-3t33r5j3jmff545t4bmnvmg2gi345apq.apps.googleusercontent.com
GOOGLE_MERCHANT_ID=135978479
GOOGLE_REVIEW_ENABLED=true

# Sentry
SENTRY_ORG=castlery
SENTRY_PROJECT=onepiece
SENTRY_DSN=https://5f204a0b012b43c5a1669b7812df7d42@sentry.io/146432
SENTRY_AUTH_TOKEN=e7619cd63df2463cb8fe29463bc65c4b1b1ceaa9c87943e8bac80d616b49d78e
# SENTRY_TOKEN=e7619cd63df2463cb8fe29463bc65c4b1b1ceaa9c87943e8bac80d616b49d78e

# Datadog
DATADOG_APPLICATION_ID=1cf59f56-0eea-41c3-86d2-5a476e9c77fd
DATADOG_CLIENT_TOKEN=pub9eb9f0e5f2cb5f526229959ec16d3494

# Storyblok @remark: CMS CA使用US-space
STORYBLOK_ACCESS_TOKEN=7bXKxoOaMv4KPQGHXvmbeQtt
STORY_BLOKS_REFRESH_INTERVAL=60

# Dynamic Yield 
DY_ENABLED=true
DY_SECTION_ID=8791472
SERVER_DY_API_KEY=9e7314280ad796f1fcaf731eff5ca021b0afedf8f5cd8e45d351f42d51d5b26e
CLIENT_DY_API_KEY=cac68a4c7cafc8de8c71ec4765eed36c604dd8886793b91f2e5cf804448c33ba

# Yotpo 
YOTPO_ENABLED=true
YOTPO_GUID=b7cfHeosQCZ8h0DaS4bsAw
YOTPO_API_KEY=41jrx70OBaKMrJtas1txDwtt
# 建议模版ID使用动态配置文件中的值，避免在代码中硬编码
YOTPO_REWARDS_ID=1076903
YOTPO_REFERRAL_ID=987184
YOTPO_REFERRAL_POPUP_ID=480399
FRIENDBUY_ENABLED=false
FRIENDBUY_MERCHANT_ID= # 代码中已弃用，确认是否需要删除

# Facebook
FACEBOOK_CLIENT_ID=452677454839601
# facebook_pixel_id  # ---------------- todo： 在代码中未使用，确认是否需要删除 ------------------

# Klaviyo 
KLAVIYO_PUBLIC_KEY=VtJFyf

# Gladly ---------------- todo : Gladly CA space will be created soon ------------------
GLADLY_ENABLED=true
GLADLY_APPID=castlery.com-uk
GLADLY_CDN=https://cdn.gladly.qa
GLADLY_HC_API=https://castlery.us-uat.gladly.qa
GLADLY_HC_ORGID=fNGGNW9yRhiTJ0h2fDcwLA
GLADLY_HC_BRANDID=E0stTsYpRY6pW5XIvc_reQ

# Podcast Pixel
PODCAST_PIXEL_ID=

# CAPI
CAPI_PIXEL_ID=362608841505535

# PIXLEE
PIXLEE_API_KEY=gIPSbo6fXCThh8oaruf2

# Pinterest
PINTEREST_ENABLED=true

# Paperform
PAPERFORM_ID=v3yf1ija
# PAPERFORM_ID=ws6iz4rb


# Graduate program
OPEN_GRADUATE_APPLICATION=false
GRADUATE_PROGRAM_GREENHOUSE=https://boards.greenhouse.io/embed/job_board/js?for=castlery

# Mulberry
MULBERRY_PUBLIC_TOKEN=
MULBERRY_SDK=

# CookieYes
COOKIEYES_ENABLED=true
COOKIYES_CDN=https://cdn-cookieyes.com/client_data/39dd63be2b07d0facd5a34cd/script.js

# Affirm ---------------- todo : Confirm whether CA market AFFIRM uses the same account as US ------------------
AFFIRM_ENABLED=true
AFFIRM_PUBLIC_KEY=1OR0YWSUBG9JUOJG
AFFIRM_SCRIPT=https://cdn1-sandbox.affirm.com/js/v2/affirm.js

# Instalment ---------------- todo : Confirm whether CA market Instalment uses the same account as US ------------------
INSTALMENT_ENABLED=false
INSTALMENT_ENCRYPT=
INSTALMENT_URL=

# Paypal
PAYPAL_ENABLED=true
PAYPAL_CLIENT_ID=

# ZipPay ---------- todo: 确认在CA是否支持开启Zippay,并确认publickey
ZIP_ENABLED=false
ZIP_PUBLIC_KEY=4109192a-8c4f-4713-b0ef-7c95ff6bbb3e

# Stripe
STRIPE_ENABLED=true

# GrabPay
GRABPAY_ENABLED=false

# Ads related tracking
CRITEO_ID=

FULLSTORY_ENABLED=false

