@import '../../../sass/variables';
@import '../../../sass/mixins';

$height-header-desktop: 90px;

:local(.header) {
  --fortress-fontFamily-body: 'Aime';
  text-align: center;
  // border-bottom: 1px solid $color-dark-accent;
  background-color: $color-warm-linen-500;
  flex: 0 0 auto;

  &__container {
    @include mobile {
      height: $height-header-mobile;
      justify-content: center;
    }

    & > a {
      @include flex;
      height: 100%;

      @include mobile {
        line-height: $height-header-mobile;

        & > img {
          height: 18px;
          width: auto;
        }
      }

      @include desktop {
        padding: ($height-header-desktop - 30) / 2 0;

        & > img {
          width: 178px;
          height: auto;
        }
      }
    }
  }

  @include desktop {
    &__help {
      & > span {
        display: block;
        text-align: right;
        // line-height: 1.4;

        & > svg {
          width: 12px;
          height: 12px;
          position: relative;
          top: 1px;
          margin-left: 5px;
          margin-right: 2px;
        }

        &:first-of-type {
          // font-family: $font-title;
          // font-size: 20px;
          // letter-spacing: 0.56px;
          @include h4V2;
        }

        &:last-of-type {
          // font-family: $font-base;
          // font-size: 16px;
          @include body1V2;

          color: $color-terracotta-500;
        }
      }
    }
  }
}

:local(.footer) {
  flex: 0 0 auto;
  --fortress-fontFamily-body: 'Aime';
  background-color: $color-terracotta-500;

  @include body2V2;

  @include mobile {
    color: $color-warm-linen-500;
    padding: 28px 24px;
    text-align: center;
    background-color: $color-primary;

    &__info {
      & > p {
        &:first-of-type {
          @include h4V2;
          margin-bottom: 5px;
        }

        &:last-of-type {
          @include body1V2;

          margin-bottom: 0;
        }

        & > a {
          @include link-style($color-warm-linen-500, $color-light-neutral);
        }
      }
    }

    &__main {
      margin-top: 30px;
      & > p {
        @include body2V2;
        color: $color-warm-linen-500;
        margin-top: 30px;
      }

      &__icons > img {
        height: 22px;
        width: auto;

        & + img {
          margin-left: 5px;
        }
      }

      &__secure {
        display: flex;
        color: $color-warm-linen-500;
        justify-content: center;
        margin-bottom: 10px;
        // text-transform: uppercase;
        // font-family: $font-title;
        // font-weight: 600;
      }

      &__lock {
        width: 22px;
        height: 22px;
        fill: $color-warm-linen-500;
        margin-right: 5px;
      }
    }
  }

  @include desktop {
    // border-top: 1px solid $color-dark-accent;
    padding: 20px 0;

    &__main {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;

      & > p {
        margin: 0;
        font-size: 0.9rem;
        color: $color-warm-linen-500;
      }

      &__icons {
        display: flex;
        align-items: center;

        & > img {
          height: 22px;
          width: auto;

          & + img {
            margin-left: 10px;
          }
        }
      }

      &__secure {
        display: flex;

        &-title {
          // font-weight: 600;
          // font-family: $font-title;
          // line-height: 1;
          @include body2V2;
          color: $color-warm-linen-500;
          // text-transform: uppercase;
        }

        &-desc {
          font-size: 12px;
          color: $color-warm-linen-500;
          white-space: nowrap;
        }
      }

      &__lock {
        height: 29px;
        width: 29px;
        margin-right: 8px;
        fill: $color-warm-linen-500;
      }
    }
  }

  &__affirm {
    margin-top: -5px;
  }

  &__zip {
    height: 16px !important;
  }
}

:local(.selectAddress) {
  --fortress-fontFamily-body: 'Aime';

  position: relative;

  &__loading {
    position: relative;
    height: 300px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &__item {
      background-color: transparent;
      border-radius: 0;
      text-align: left;

      @include mobile {
        width: 100%;
        margin-bottom: $mobile-padding;

        &:last-of-type {
          margin-bottom: 0;
        }

        @include media-breakpoint-between(sm, lg) {
          width: 48.5%;
          margin-right: 3%;
          margin-bottom: 3%;

          &:nth-of-type(2n + 2) {
            margin-right: 0;
          }

          &:nth-last-of-type(2):nth-of-type(odd) {
            margin-bottom: 0;
          }
        }

        @include media-breakpoint-up(xl) {
          width: 31.5%;
          margin-right: 2.75%;
          margin-bottom: 2.75%;

          &:nth-of-type(3n + 3) {
            margin-right: 0;
          }

          &:nth-last-of-type(2):nth-of-type(3n + 1) {
            margin-bottom: 0;
          }

          &:nth-last-of-type(2):nth-of-type(3n + 2) {
            margin-bottom: 0;
          }

          &:nth-last-of-type(3):nth-of-type(3n + 1) {
            margin-bottom: 0;
          }
        }
      }

      @include desktop {
        width: 48.5%;
        margin-right: 3%;
        margin-bottom: 3%;

        &:nth-of-type(2n + 2) {
          margin-right: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &:nth-last-of-type(2):nth-of-type(odd) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__address {
    padding: 10px 15px;
    border: 1px solid $color-mono-300;
    position: relative;

    p {
      margin: 0;
      line-height: 1.2;
      @include text-truncate;
    }

    @include above {
      border-color: $color-green;
      color: $color-green;
    }

    &.is-selected {
      color: $color-green;
      border: 1px solid $color-green;
      padding-right: 115px;
      pointer-events: none;
    }

    &__check {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100px;
      background-color: $color-green;

      & > svg {
        width: 32px;
        height: 32px;
        fill: $color-maroon-velvet-500;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__add {
    padding: 10px 15px;
    border: 1px dashed #aaa;
    position: relative;
    color: #888;
    min-height: 117px;

    & > span {
      position: absolute;
      padding: 0;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @include above {
      color: $color-dark-neutral;
      border-color: #666;
    }
  }
}

:local(.item) {
  padding: 15px 0;

  & > div:first-of-type {
    display: flex;
    line-height: 1.2;
    align-items: center;
  }

  &__img {
    flex: 0 0 auto;

    @include mobile {
      width: 90px;

      &.is-swatch {
        padding: 0 20px;
      }

      @media (min-width: 350px) {
        width: 120px;

        &.is-swatch {
          padding: 0 30px;
        }
      }

      @include media-breakpoint-up(sm) {
        width: 150px;

        &.is-swatch {
          padding: 0 40px;
        }
      }

      @include media-breakpoint-up(lg) {
        width: 220px;

        &.is-swatch {
          padding: 0 70px;
        }
      }
    }

    @include desktop {
      width: 220px;

      &.is-swatch {
        padding: 0 70px;
      }
    }
  }

  &__body {
    flex: 1;
    margin-left: 20px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;

    .flexContainer {
      display: flex;
      justify-content: space-between;
      gap: 30px;
    }

    .warrantyInfo {
      font-size: 0.9rem;
    }

    .quantity {
      font-size: 0.9rem;
    }

    .price {
      color: #3c101e;
      // font-size: 0.9rem;
      @include caption1V2;
    }
  }

  &__name {
    @include body1V2;
    // @include mobile {
    //   font-size: 0.9rem;

    //   @include media-breakpoint-up(sm) {
    //     font-size: 1rem;
    //   }
    // }
  }

  &__options {
    p {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 0;
    }
  }

  &__qty1 {
    margin-top: 2px;

    @include mobile {
      font-size: 0.9rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    color: $color-primary;

    @include mobile {
      margin-top: 5px;
      font-size: 0.9rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
        margin-top: 0;
      }
    }
  }

  &__bundle {
    width: 100%;

    @include mobile {
      & > div > div {
        &:first-of-type {
          width: 90px;
          padding-left: 30px;
        }

        &:last-of-type {
          padding-left: 5px;
        }
      }

      @media (min-width: 350px) {
        & > div > div {
          &:first-of-type {
            width: 120px;
            padding-left: 40px;
          }
        }
      }

      @include media-breakpoint-up(sm) {
        & > div > div {
          &:first-of-type {
            width: 150px;
            padding-left: 50px;
          }

          &:last-of-type {
            padding-left: 10px;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        & > div > div {
          &:first-of-type {
            width: 220px;
            padding-left: 100px;
          }
        }
      }
    }

    @include desktop {
      & > div > div {
        &:first-of-type {
          width: 220px;
          padding-left: 100px;
        }

        &:last-of-type {
          padding-left: 15px;
        }
      }
    }
  }
}

:local(.column) {
  & > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    font-size: 12px;
  }

  &__img {
    flex: 0 0 auto;

    @include mobile {
      width: 90px;

      &.is-swatch {
        padding: 0 20px;
      }

      @media (min-width: 350px) {
        width: 120px;

        &.is-swatch {
          padding: 0 30px;
        }
      }
    }

    @include desktop {
      width: 120px;

      &.is-swatch {
        padding: 0 70px;
      }
    }
  }

  &__body {
    margin-left: 0 !important;
    text-align: center;
  }

  &__name,
  &__clearance {
    font-size: 12px !important;
    display: inline-block;
  }

  &__num {
    font-size: 12px;
  }
}

:local(.orderItem) {
  & > div:first-of-type {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__left {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__tag {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    height: 22px;

    & > sup {
      color: $color-warm-linen-500;
      background-color: $color-terracotta-500;
      padding: 2px 8px;
      margin-left: 0;
      font-size: 0.75rem;
      line-height: 1.5;
      position: static;
      top: 0;
    }
  }

  &__img {
    flex: 0 0 auto;

    @include mobile {
      width: 90px;

      &.is-swatch {
        padding: 0 20px;
      }

      @media (min-width: 350px) {
        width: 120px;

        &.is-swatch {
          padding: 0 30px;
        }
      }

      @include media-breakpoint-up(sm) {
        width: 150px;

        &.is-swatch {
          padding: 0 40px;
        }
      }
    }

    @include desktop {
      width: 120px;

      &.is-swatch {
        width: 100px;
        padding: 0 20px;
      }
    }
  }

  &__body {
    @include mobile {
      margin-left: 5px;

      @include media-breakpoint-up(sm) {
        margin-left: 10px;
      }
    }

    @include desktop {
      margin-left: 16px;
    }
  }

  &__name {
    font-size: 16px;
    line-height: 175%;

    @include mobile {
      font-size: 0.9rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }
    }
  }

  &__options {
    & > span {
      @include mobile {
        font-size: 0.9rem;

        @include media-breakpoint-up(sm) {
          font-size: 1rem;
        }
      }

      @include desktop {
        font-size: 14px;
        line-height: 175%;
      }

      color: $color-dark-accent;
      margin: 0;
    }
  }

  &__qty {
    white-space: nowrap;
    margin-top: 4px;

    @include mobile {
      font-size: 0.9rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }
    }

    @include desktop {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__customizeText {
    margin-top: 4px;
    color: #616161;
    @include caption1V2;
    // @include mobile {
    //   font-size: 0.8rem;

    //   @include media-breakpoint-up(sm) {
    //     font-size: 0.9rem;
    //   }
    // }

    // @include desktop {
    //   font-size: 12px;
    //   line-height: 20px;
    // }
    & > a {
      color: #d25c1b;
      text-decoration: underline;
      white-space: nowrap;
    }
  }

  &__warning {
    & > a {
      @include link-style($color-primary, $color-primary, underline);
    }

    @include mobile {
      font-size: 0.9rem;
      margin-top: 8px;
      padding-bottom: 2px;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
        margin-top: 10px;
      }
    }

    @include desktop {
      font-size: 14px;
      margin-top: 10px;
    }
  }

  &__clearance {
    color: #424242;

    @include desktop {
      font-size: 0.875rem;
      margin-top: 10px;
    }

    @include mobile {
      font-size: 0.9rem;
      margin-top: 8px;
    }
  }

  &__total {
    @include mobile {
      margin-top: 5px;
      font-size: 0.9rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
        margin-top: 0;
      }
    }
  }

  &__bundle {
    width: 100%;

    @include mobile {
      & > div > div {
        &:first-of-type {
          width: 90px;

          @media (min-width: 350px) {
            width: 120px;
            padding-left: 40px;
          }

          @include media-breakpoint-up(sm) {
            width: 150px;
            padding-left: 50px;
          }
        }

        &:last-of-type {
          padding-left: 5px;

          @include media-breakpoint-up(sm) {
            padding-left: 10px;
          }

          & > p {
            font-size: 12px;
          }
        }
      }
    }

    @include desktop {
      & > div {
        display: flex;
        justify-content: center;

        & > div {
          &:first-of-type {
            // width: 220px;
            // padding-left: 120px;
          }

          &:last-of-type {
            padding-left: 16px;

            & > p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

:local(.radio) {
  & > .btn {
    display: block;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    white-space: initial;
    text-align: left;
    line-height: 1.4;
    position: relative;
    padding-left: 30px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
      border: 1px solid $color-dark-accent;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include shared {
        width: 16px;
        height: 16px;
      }

      @include mobile {
        width: 13px;
        height: 13px;
      }
    }

    &.is-selected:before {
      background-color: $color-primary;
      box-shadow: 0 0 0 2px #fff inset;
    }
  }
}

:local(.instalment) {
  &.is-hidden {
    display: none;
  }

  & > p {
    @include caption1V2;
    // font-size: 16px;
    // line-height: 20px;
    // font-weight: 600;
    // color: #888;
    margin-bottom: 15px;
  }

  &__loading {
    position: relative;
    height: 300px;

    &.is-hidden {
      display: none;
    }
  }

  &__banks {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    & > .btn {
      flex: auto 0 0;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0;
      margin-bottom: 8px;

      &:not(:last-of-type) {
        margin-right: 30px;
      }

      &:disabled {
        opacity: 1;
        cursor: default;
      }

      & > img {
        height: 28px;
        width: auto;
        display: inline-block;
      }

      & > .dbs {
        padding: 4px 2px 4px 0;
        margin-left: -6px; //designer requires that the space with two logos should be 8px apart
        margin-right: 8px;
      }

      @include mobile {
        @include media-breakpoint-down(xs) {
          padding-left: 18px;

          &:not(:last-of-type) {
            margin-right: 8px;
          }

          & > img {
            height: 22px;
          }

          & > .dbs {
            padding: 2px 2px 2px 0;
            margin-left: 0;
            margin-right: 4px;
          }
        }

        @media (max-width: 350px) {
          & > img {
            height: 20px;
          }

          & > .dbs {
            padding: 3px 2px 3px 0;
          }
        }
      }
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    margin: 35px -5px 0;

    & > div {
      width: 33.33%;
      padding: 0 5px;

      &:nth-of-type(n + 4) {
        margin-top: 10px;
      }

      @include mobile {
        @include media-breakpoint-down(sm) {
          width: 50%;

          &:nth-of-type(n + 3) {
            margin-top: 10px;
          }
        }

        @include media-breakpoint-down(xs) {
          width: 100%;

          &:nth-of-type(n + 2) {
            margin-top: 10px;
          }
        }
      }

      & > .btn {
        text-transform: initial;
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 1rem;
        @include button-variant(#888, transparent, #bbb, $color-green, transparent, $color-green);
        border-style: dashed;
        line-height: 1.2;

        &:disabled {
          opacity: 0.6;

          &.is-selected {
            opacity: 1;
            cursor: default;
            @include button-variant($color-green, transparent, $color-green, $color-green, transparent, $color-green);
            border-style: solid;
          }
        }

        span {
          display: block;
          white-space: normal;

          &:last-of-type {
            font-size: 0.8rem;
          }
        }

        @include media-breakpoint-down(xs) {
          padding: 10px;
        }
      }
    }
  }

  &__form {
    margin-top: 30px;

    & > .row + .row {
      margin-top: 15px;
    }

    @include mobile {
      @include media-breakpoint-down(xs) {
        & > .row {
          margin: 0 -5px;
        }

        & > .row + .row {
          margin-top: 10px;
        }

        .col-xs-6 {
          padding: 0 5px;
        }
      }
    }

    &__title {
      margin-bottom: 6px;
      color: #888;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
    }
  }

  &__error {
    color: $color-rosewood-500;
    margin-top: 30px;
    @include caption1V2;
  }
}

:local(.input) {
  padding-bottom: 1.15rem;
  position: relative;

  & > input {
    border: 1px solid #ddd;
    padding: 6px 16px;
    width: 100%;
    border-radius: 0;
  }

  & > p {
    font-size: 0.8rem;
    line-height: 1;
    color: $color-primary;
    position: absolute;
    left: 0;
    bottom: 0.15rem;
    margin: 0;
  }

  &.has-error > input {
    border-color: $color-primary;
  }

  &.is-valid > input {
    color: $color-green;
  }
}

// shared components

:local(.mask) {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

:local(.hint) {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: 5px;

  & > svg {
    width: 14px;
    height: 14px;
    display: block;
    fill: #888;
  }

  @include above {
    & > svg {
      fill: #666;
    }
  }
}

:local(.cvvModal) {
  @include flex-center;

  &__container {
    @include mobile {
      width: 90%;
      max-width: 500px;
    }

    @include desktop {
      width: 500px;
    }

    padding: 30px;
    background-color: $color-warm-linen-200;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
  }

  &__close {
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px;

    & > svg {
      width: 14px;
      height: 14px;
      fill: #888;
    }
  }
}

:local(.orderSummary) {
  // &__items {
  // border-top: 1px solid #bebebe;
  // }

  & &__item {
    @include mobile {
      padding: 15px 0;
    }

    @include desktop {
      padding: 20px 0;
    }

    &__img {
      width: 120px;

      &.is-swatch {
        padding: 0 20px;
      }

      @include mobile {
        @include media-breakpoint-up(sm) {
          width: 150px;

          &.is-swatch {
            padding: 0 40px;
          }
        }

        @include media-breakpoint-up(lg) {
          width: 220px;

          &.is-swatch {
            padding: 0 70px;
          }
        }
      }
    }

    &__name {
      // font-size: 16px;
      // line-height: 20px;
      @include body1V2;
      margin-bottom: 6px;

      // @include mobile {
      //   font-size: 0.9rem;

      //   @include media-breakpoint-up(sm) {
      //     font-size: 1rem;
      //   }
      // }
    }

    &__options {
      & > p {
        // font-size: 14px;
        // line-height: 22px;
        @include caption1V2;
        color: $color-dark-accent;
      }
    }

    &__qty1 {
      // font-size: 14px;
      // line-height: 22px;
      @include caption2V2;

      @include mobile {
        @include media-breakpoint-up(sm) {
          font-size: 0.85rem;
          margin-top: 5px;
        }
      }
    }

    &__total {
      margin-top: 0;
      font-size: 16px;
      color: $color-primary;

      @include mobile {
        font-size: 0.9rem;

        @include media-breakpoint-up(sm) {
          font-size: 1rem;
        }
      }
    }

    &__bundle {
      & > div {
        margin-top: 5px;

        & > div {
          &:first-of-type {
            width: 120px;
            padding-left: 40px;
          }

          &:last-of-type {
            padding-left: 20px;

            & > p:first-of-type {
              margin-bottom: 2px;
            }
          }
        }
      }

      @include mobile {
        @include media-breakpoint-up(sm) {
          & > div {
            margin-top: 10px;

            & > div {
              &:first-of-type {
                width: 150px;
                padding-left: 50px;
              }

              &:last-of-type {
                padding-left: 10px;
              }
            }
          }
        }

        @include media-breakpoint-up(lg) {
          & > div > div {
            &:first-of-type {
              width: 220px;
              padding-left: 100px;
            }
          }
        }
      }
    }
  }

  & &__item--schedule {
    &__body {
      margin-left: 0;
    }
  }
}

:local(.shipService) {
  &__service {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    @include shared {
      flex-direction: row;
    }

    & > div {
      &.is-selected {
        z-index: 1;
      }

      &:not(:first-of-type) {
        &.is-selected {
          &:before {
            background-color: $color-primary;
          }
        }
      }
    }

    &__content {
      font-size: 14px;
      line-height: 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      position: relative;

      & > div:first-of-type {
        padding: 8px 8px 30px 8px;

        @include mobile {
          padding-bottom: 16px;
        }
      }

      &:not(:first-child):before {
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        box-sizing: content-box;
        background-color: $color-dark-accent;
        transition: background-color 0.3s;
        content: '';

        @include mobile {
          width: 100%;
          height: 1px;
          padding: 0 1px;
        }

        @include shared {
          width: 1px;
          height: 100%;
          padding: 1px 0;
        }
      }

      &:not(:first-of-type) {
        @include shared {
          border-left: none;
        }

        @include mobile {
          border-top: none;
          margin-top: 8px;
        }
      }
    }

    &__title {
      font-family: $font-title;
      font-size: 28px;
      line-height: 150%;
      color: $color-dark-accent;
      margin-bottom: 8px;

      @include mobile {
        font-size: 24px;
      }

      &.is-selected {
        color: $color-primary;
      }

      &__tag {
        background-color: $color-terracotta-500;
        color: $color-warm-linen-500;
        font-size: 12px;
        font-family: $font-base;
        font-weight: 600;
        width: 100%;
        height: 28px;
        line-height: 28px;
        text-align: center;
        margin-top: 8px;
      }
    }

    &__config {
      ul {
        list-style: none;
        padding: 0;
        margin: 14px 0 0;

        li {
          display: flex;
          align-items: flex-start;

          &:not(:first-of-type) {
            margin-top: 16px;
          }

          & > svg {
            display: block;
            width: 14px;
            height: 12px;
            stroke-width: 1.5px;
            fill: #888;
            margin-right: 8px;

            &.check {
              fill: $color-primary;
            }
          }

          & > span {
            flex: 1;
            font-size: 14px;
            line-height: 175%;
            margin-top: -6px;
          }
        }
      }

      &__nonsupport {
        color: #888;
      }
    }

    &__price {
      // standard service
      &.is-selected > span > span {
        color: $color-light-neutral;
      }
      // add on service
      &.is-selected > span > span > span {
        color: $color-light-neutral;
      }
    }
  }
}

:local(.paymentMethod) {
  // background-color: $color-warm-linen-900;
  // & > div:not(:first-of-type) {
  //   border-top: none;
  // }
  & > div:not(:first-of-type):not(.is-selected) {
    border-top: none;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    height: 22px;

    & > img,
    & > svg {
      height: 100%;
      width: auto;
      display: block;
    }
  }

  &__instalment_icons {
    display: inline-block !important;
    margin-right: 8px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }

  &__label {
    display: inline-block;
    // font-size: 16px;
    // line-height: 20px;
    @include body2V2;
    color: #888;
    margin-left: 10px;
  }

  &__main {
    // background-color: $color-light-neutral;
    transition: all 0.3s;

    &.is-hidden {
      display: none;
      padding: 0;

      & + div {
        border-bottom: none;
      }
    }
  }

  &__stripe {
    &__error {
      margin-top: 10px;
      color: $color-rosewood-500;
      @include caption1V2;
    }
  }

  &__affirm {
    & > p {
      @include caption1V2;
      color: $color-mono-900;
    }

    &__desc {
      &:not(:first-of-type) {
        margin-top: 20px;
        @include caption2V2;
      }

      & > div {
        color: $color-mono-700;

        &:first-of-type {
          color: $color-mono-900;

          @include caption1V2;
        }
      }
    }

    & .affirm-modal-trigger {
      text-decoration: underline;
      margin-left: 5px;
      color: $color-burnt-orange-500;

      &:hover {
        color: $color-burnt-orange-600;
        text-decoration: underline;
      }
    }
  }

  &__zip {
    div {
      font-weight: 700;
    }
  }

  &__stripe,
  &__afterPay,
  &__paypal,
  &__zip,
  &__affirm,
  &__grabpay {
    // font-size: 14px;
    @include body2V2;
    color: $color-mono-700;

    & > a {
      color: $color-burnt-orange-500;
      text-decoration: underline;
      &:hover {
        color: $color-burnt-orange-600;
        text-decoration: underline;
      }
      // @include link-style($color-burnt-orange-500, $color-burnt-orange-600);
    }
  }

  .StripeElement {
    border: 1px solid #ddd;
    padding: 10px 16px;
    // background-color: #f6f3e7;
    transition: border 150ms ease;

    // font-family: 'Aime' !important;

    * {
      font-family: 'Aime' !important;
    }

    &--focus,
    &--complete {
      border-color: $color-dark-accent;
    }

    &--invalid {
      border-color: $color-primary;
    }

    &--webkit-autofill {
      background-color: #e8f0fe !important;
    }
  }
}

:local(.shipmentItems) {
  position: relative;

  &__items {
    width: 100%;
    display: flex;
    flex-direction: column;

    & > div {
      padding: 16px 0;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}

:local(.orderShipments) {
  &__title {
    // font-family: $font-title;
    // font-size: 24px;
    // line-height: 32px;
    @include h3V2;
  }

  &__desc {
    // font-size: 14px;
    // line-height: 20px;
    @include body2V2;
    margin-bottom: 20px;
  }

  &__itemsB {
    & + & {
      @include shared {
        margin-top: 0;
        border-top: none;
      }

      @include mobile {
        margin-top: 20px;
      }
    }
  }
}

:local(.multipleItems) {
  &__tag {
    font-size: 14px;
    line-height: 175%;
    color: #767676;
    margin-top: 8px;
    text-transform: none;

    & > a {
      font-size: 14px;
      white-space: nowrap;
      @include link-style($color-primary, $color-primary, underline);
    }
  }
}

@mixin requestBtn {
  vertical-align: baseline;
  background-color: transparent;
  border: none;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 175%;
  color: $color-burnt-orange-500;
  text-decoration: underline;
  display: flex;
  svg {
    fill: $color-burnt-orange-500;
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }

  &:hover {
    color: $color-burnt-orange-600;
    text-decoration: underline;
    & > svg {
      fill: $color-burnt-orange-600;
    }
  }

  @include mobile {
    margin: 0;
    display: block;
  }
}

:local(.requestBtn) {
  @include requestBtn();
}

:local(.multipleItemsA) {
  &__title {
    font-family: $font-title;
    font-size: 24px;
    line-height: 32px;
  }

  &__items {
    & > div {
      padding: 0 24px;
      margin-bottom: 8px;

      @include mobile {
        padding: 0 16px;
      }
    }

    &.has-border {
      border-bottom-width: 1px;
    }
  }

  &__collapse {
    &__content {
      position: relative;

      &:not(.no-border) {
        border: 1px solid $color-dark-accent;
        padding: 8px 8px 16px 0;

        &:not(.has-scrollbar) {
          padding: 8px 0 24px;

          @include mobile {
            padding-bottom: 16px;
          }
        }
      }

      &__box {
        max-height: 620px;
        overflow-y: auto;

        @include mobile {
          max-height: 650px;
        }

        &::-webkit-scrollbar-thumb {
          background: #8a4c2e;
          border-radius: 4px;
        }

        &.showBlur {
          &::after {
            content: '';
            position: absolute;
            width: calc(100% - 15px);
            height: 64px;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 78.65%);
            z-index: 3;
          }
        }
      }

      &.has-scrollbar &__box {
        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
          height: 7px;
        }
      }
    }

    &__service {
      margin-top: -1px;
    }

    & > button {
      white-space: normal;
    }

    &__freeShipping {
      display: flex;
      color: $color-warm-linen-500;
      background-color: $color-primary;

      @include shared {
        font-size: 14px;
        padding: 8px 16px;
      }

      @include mobile {
        font-size: 0.875rem;
        padding: 8px;
        margin-top: 16px;
      }

      & > svg {
        fill: $color-warm-linen-500;
        width: 16px;
        height: 16px;
        margin: 3.5px 2.5px 0;
        flex-shrink: 0;
      }

      & > span {
        margin-left: 8px;
        line-height: 175%;
      }
    }

    &__header {
      padding: 16px 24px 8px;
      position: relative;

      @include mobile {
        padding: 8px 16px 8px;
      }

      &.has-scrollbar {
        padding-right: 8px;
      }

      &.no-padding {
        padding: 0 0 24px 0;
      }

      &.without-content {
        margin-bottom: 0;
      }

      &__box {
        display: flex;
        justify-content: space-between;
      }

      &__estimate {
        font-size: 14px;
        line-height: 175%;

        & > span {
          margin-right: 10px;
        }
      }

      &__desc {
        flex-shrink: 0;

        & > span {
          font-size: 16px;
          line-height: 175%;
          color: $color-primary;

          @include mobile {
            font-size: 14px;
          }

          &:first-of-type {
            font-weight: 700;
          }
        }
      }

      &__date {
        font-weight: bold;
      }

      &__addon {
        color: $color-mono-700;
        font-size: 0.875rem !important;
        margin-top: 5px;
      }
    }

    &__chooseDate {
      @include requestBtn();
    }

    &__message {
      margin-top: 5px;
      margin-bottom: 0;
      font-size: 14px;
      color: $color-grey-light;
    }

    &__deliveryServices {
      @include mobile {
        display: block;

        & > div:not(:last-of-type) > div {
          border-bottom: none;
        }
      }

      @include shared {
        display: flex;
      }
    }

    &__deliveryService {
      @include mobile {
        font-size: 0.875rem;
      }

      @include shared {
        font-size: 0.875rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & + & {
          & > div {
            border-left-width: 0;

            &:before {
              position: absolute;
              top: 0;
              left: -1px;
              display: block;
              box-sizing: content-box;
              width: 1px;
              height: 100%;
              // padding: 1px 0;
              background-color: $color-mono-300;
              transition: background-color 0.3s;
              content: '';
            }
          }
        }
      }
    }
  }

  &__total {
    margin-left: 14px;

    & > span {
      font-size: 14px;
      color: $color-primary;

      &:first-of-type {
        font-weight: bold;
      }
    }
  }
}

:local(.multipleItemsB) {
  border: 1px solid $color-mono-300;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  @include shared {
    flex-direction: row;
  }

  &__blur {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: calc(100% - 15px);
      height: 64px;
      left: 0;
      bottom: -1px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fbf9f4 78.65%);
      z-index: 3;
    }
  }

  &__left {
    flex: 1 1 auto;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0 24px 0;

    @include mobile {
      padding: 16px 0;
    }

    &__box {
      max-height: 690px;
      overflow-y: auto;

      &::-webkit-scrollbar-thumb {
        background: #8a4c2e;
        border-radius: 4px;
      }
    }
  }

  &.has-scrollbar &__left {
    padding: 8px 8px 24px 0;

    @include mobile {
      padding: 16px 8px 16px 0;
    }

    &__box {
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 7px;
      }
    }
  }

  &.delivery-service &__left {
    @include desktop {
      padding-top: 20px;
    }
  }

  &__header {
    padding: 0 24px;

    @include mobile {
      padding: 0 16px;
    }

    &__index {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      & > div {
        &:first-of-type {
          font-size: 16px;
          line-height: 175%;
          color: $color-dark-accent;
        }
      }

      &__desc {
        & > span {
          font-size: 16px;
          line-height: 175%;
          color: $color-primary;

          @include mobile {
            font-size: 14px;
          }

          &:first-of-type {
            font-weight: 700;
          }
        }
      }
    }

    &__estimate {
      font-size: 14px;
      line-height: 175%;
    }

    &__date {
      font-weight: bold;

      &.is-editable {
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: $color-primary;
        }
      }
    }

    &__addon {
      color: #666;
      font-size: 0.875rem !important;
      margin-top: 5px;
    }

    &__request_btn {
      @include requestBtn();
    }
  }

  &.has-scrollbar &__header {
    padding: 0 8px 0 24px;

    @include mobile {
      padding: 0 8px 0 16px;
    }
  }

  &__message {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
    color: $color-grey-light;
  }

  &__chooseDate {
    @include mobile {
      display: block;
      margin-top: 5px;
    }

    @include media-breakpoint-up(md) {
      display: inline-block;
      margin-top: 0;
    }

    &__icon {
      vertical-align: middle;
      margin-left: 6px;

      svg {
        width: 13px;
        height: 12px;
      }
    }
  }

  &__items {
    flex: 1 0 auto;
    display: flex;

    &__items {
      margin-top: 24px;

      @include mobile {
        margin-top: 8px;
      }

      & > div {
        padding: 16px 24px;

        @include mobile {
          padding: 16px;
        }

        &:first-of-type {
          padding-top: 0;
        }
      }
    }

    &.withoutFreeTip &__items {
      margin-bottom: 0;
    }

    &__orderItem {
      &__img {
        &.is-swatch {
          padding: 0 0 10px 0;
        }
      }
    }
  }

  &__freeShipping {
    display: flex;
    margin: 0 24px 8px;
    color: $color-warm-linen-500;
    background-color: $color-primary;
    line-height: 175%;

    @include shared {
      font-size: 14px;
      padding: 8px 16px;
    }

    @include mobile {
      margin: 0 16px 8px;
      font-size: 0.875rem;
      padding: 10px;
    }

    & > svg {
      fill: $color-warm-linen-500;
      width: 16px;
      height: 16px;
      margin: 4px 2.5px 0;
      flex-shrink: 0;
    }

    & > span {
      margin-left: 8px;
    }
  }

  &.has-scrollbar &__freeShipping {
    margin: 0 8px 8px 24px;

    @include mobile {
      margin: 0 8px 8px 16px;
    }
  }

  &__right {
    background-color: $color-light-neutral;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
      flex: 1 0 170px;
      border-top: 1px solid $color-mono-300;
    }

    @include shared {
      flex: 0 0 289px;
      border: none;
      border-left: 1px solid $color-mono-300;
    }

    &__service {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > div {
        &:last-of-type {
          & > a {
            border-bottom: none;
          }
        }
      }
    }

    &__method {
      padding: 8px;
    }

    &__name {
      font-size: 14px;
      line-height: 20px;
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > div {
        &:first-of-type {
          font-size: 28px;
          line-height: 150%;
          color: #8a4c2e;
          font-family: $font-title;

          @include mobile {
            font-size: 24px;
          }
        }
      }

      &__price {
        span {
          font-size: 14px;
          line-height: 175%;
        }

        &__plus {
          font-weight: 600;
          color: $color-primary;
        }
      }
    }

    &__desc {
      margin-top: 16px;
      font-size: 14px;
      line-height: 175%;

      & > div {
        &:not(:first-of-type) {
          margin-top: 5px;
        }
      }
    }

    &__btn {
      font-size: 16px;
      line-height: 175%;
      color: $color-dark-accent;
      cursor: pointer;
      padding: 10px 16px;
      border-top: 1px solid $color-mono-300;

      @include mobile {
        font-size: 14px;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
}
