@import 'sass/variables';
@import 'sass/mixins';

:local(.dualBox) {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  @include shared {
    flex-direction: row;
    & > div {
      width: 50%;
    }
  }

  &--direction-reverse {
    flex-direction: column-reverse;
    @include shared {
      flex-direction: row;
    }
  }
  &--border-dark-accent {
    @include border;
    & > div:first-child {
      @include shared {
        @include border($position: right);
      }
    }
  }
  @include media-breakpoint-down(lg) {
    &__firstBox--border-top {
      @include border($position: top);
    }
    &__firstBox--border-bottom {
      @include border($position: bottom);
    }
  }
}

:local(.equalDualBox) {
  @include shared {
    &--row-reverse {
      flex-direction: row-reverse;
    }
    &__border {
      border-right: none !important;
      @include border($position: left);
    }
  }

  &__rightBox {
    padding-top: 100%;
    position: relative;
    @include flex;
    @include shared {
      padding-top: 0;
      position: static;
    }
  }
  &__rightWrapper {
    @include flex($direction: column, $justify: space-between);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    @include shared {
      position: static;
      transform: none;
      z-index: auto;
    }
  }
}

:local(.oneDualBox) {
  & > div {
    &:first-child {
      width: 100%;
    }
    &:last-child {
      width: 100%;
      @include shared {
        position: absolute;
        z-index: 1;
      }
    }
  }
}
